<div class="student-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{student.firstName + " " + student.lastName}}</mat-card-title>
        <mat-card-subtitle>{{ student.schoolClassDto?.normalizedSchoolClassName }}</mat-card-subtitle>
      </mat-card-header>
      <img class="student-image"
        mat-card-image
        src="{{ student.profilePicture }}"
        alt="Profile picture does not exist"
      />
    </mat-card>
